.spaceh200{width: 10px;height: 200px;}
.struggle_buy_container{min-height: 800px;width: 100%;background: #000 url(../images/buy/buy_bg.jpg) no-repeat;background-position: center;}
.struggle_buy_container ul {margin: 0 auto;padding: 0;width:1000px;/*height: 40px;*/list-style: none;}
.struggle_buy_container li {text-align: center;cursor: pointer;}
.struggle_buy_container li.roundabout-in-focus {cursor: default;}
.struggle_buy_container .struggle_buy_box {margin-top: 200px;}
.struggle_buy_container .struggle_buy_box .struggle_xploer_common{position: relative;width:100%; }
.struggle_buy_container .struggle_buy_box .struggle_xploer_common .struggle_img{width: 100%;}
.struggle_buy_container .struggle_buy_box .struggle_xploer_common .struggle_bg{position: absolute;top:150px;left: 23%;width:54.55%; }
.struggle_buy_container .struggle_buy_box .struggle_xploer_common .xplrerTitle{width:90px;color: #6e6e6e;}
.struggle_buy_container .struggle_buy_box .struggle_xploer_common .price{float: right;width: 60px;color: #41a932;}
.struggle_buy_container .struggle_buy_box .struggle_xploer_common .titleBox{overflow: hidden;margin: 0 auto;width: 150px;line-height: 40px;}
.struggle_buy_container .struggle_buy_box .struggle_xploer_common .buy{display: block;margin: 0 auto;width: 150px;background: #41a932;color: #fff;text-align: center;text-decoration:none;line-height: 40px;}
.struggle_buy_container .struggle_buy_box .struggle_xploerg .struggle_bg{top:;}
.struggle_buy_container .roundabout-in-focus .struggle_xploer_common a.buy{background: #41a932;color: #fff;text-decoration:none;-webkit-transition: all 1s ease;-o-transition: all 1s ease;transition: all 1s ease;}
.struggle_buy_container .roundabout-in-focus .struggle_xploer_common .struggle_bg{top:200px;}
#show{position:relative;margin:0 auto;}
.item{position:absolute;width:350px;height:200px;cursor:pointer;}
@media screen and (max-width:900px) {
	.spaceh200{height: 80px;}
	.struggle_buy_container{overflow: hidden;width: 100%;}
	.struggle_buy_container .struggle_buy_box{margin-top: 0;}
	.struggle_buy_container .struggle_buy_box{width: 100%;}
	.struggle_buy_container .struggle_buy_box li{position: relative;float: left;overflow: hidden;-webkit-box-sizing:border-box; /* Safari */-moz-box-sizing:border-box; /* Firefox */box-sizing:border-box;padding: 10px 20px;width:50%;height: auto;-moz- /* Firefox */-webkit- /* Safari */}
}
@media screen and (max-width:510px) {
	.struggle_buy_container .struggle_buy_box li{position: relative;overflow: hidden;margin: 20px 0;width: 100%;height: auto;}
}

