html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing:border-box;
  margin:0;
  padding:0;
  list-style:none;
  border:none;
}

body {
  font-size: 100%;
  font-family: "Microsoft yahei", serif;
  color: #7f8c97;
}
/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #303e49;
}
header h1 {
  color: #ffffff;
  font-size: 18px;
  font-size: 1.125rem;
}
@media only screen and (min-width: 1170px) {
  header {
    height: 300px;
    line-height: 300px;
  }
  header h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 30px;
  height: 100%;
  width: 4px;
  background: #444545;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: -10px;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 1;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 100px;
  background: #3e3e3e;
  border-radius: 0.5em;
  padding: 1em;
  box-shadow: 0 3px 0 #2d2d2d;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #ffffff;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 1.5rem;
  color: #ffffff
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: #ffffff;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 4px;
  width: 60px;
  background: #444545;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 14px;
    /*font-size: 1rem;*/
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
    color: #ffffff;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #ffffff;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: -5px;
    font-size: 16px;
    font-size: 1.2em;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #ffffff;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}


.bounce-inm {
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }

.act_rule_100{position: absolute;width: 5em;left: -2.5em;top: -2.5em;}
.border_conmon{border:1px solid #3cb133;border-top: 0;border-right: 0;color: #fff;font-size: 1em;line-height: 1.5em}
.act_border_top{border-top: 1px solid #3cb133;}
.act_border_right{border-right: 1px solid #3cb133;}
.cd-timeline-content table tr td{padding:0.5em;}
.white{color: #ffffff}
.time_pro table tr td.white{line-height: 1.5em}
.time_before{position: relative;}
.time_before::before{
  content: '';
  position: absolute;
  top: 84%;
  left: 50%;
  height: 20px;
  width: 2px;
  background: #fff;
}
.tb_href{width: 8em;height: 3em;text-align: center;line-height: 3em;border-radius: 0.5em; }
.tb_href a{color: #535353;}
.gradient{
    background: -moz-linear-gradient(top, #ffffff 0%, #c3c3c3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3c3c3), color-stop(100%,#c3c3c3));
    background: -webkit-linear-gradient(top, #ffffff 0%,#c3c3c3 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#c3c3c3 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#c3c3c3 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#c3c3c3 100%);
}
.btm_code{width: 120px;position: absolute;right:30px;bottom: 30px;}
.act_award_box{width: 61.8%;margin: 0 auto;padding-top: 5em;}
.entry_box{width:200px;height:140px;position: fixed;bottom: 25%;right: 5%;z-index: 2;background: url(../images/novice/register.png) no-repeat;background-position:cover;display: block;}
.act_form_register{width: 800px;overflow: hidden;padding:1em 1.5em;border-radius: 1em;background: #d3d3d3;margin: 0 auto;display: none;position: fixed;top: 100px;left: 50%;margin-left: -400px;z-index: 99999;overflow: hidden;}
.act_form_register form table tr td{padding:7px;}
.act_form_register form table tr .labels {text-align:right;font-size: 1.2em;color: #8f8f8f}
.form_register_title{width: 100%;margin: 0 auto;}
.form_register_title h2{position: relative;font-size: 30px;color: #000;text-align: left;padding: 0.5em 0;}
.form_register_title .form_close{position: absolute;width: 30px;right: 20px;top:1em;display: block;z-index: 999999;}
.act_form_register form table tr td input[type=text]{background: none;border: none;border-bottom: 1px solid #fff;height: 30px;width: 75%;outline: 0;font-size: 15px;color: #fff;}
.act_container{width: 100%;height: 100%;position: fixed;z-index: 3;background: rgba(0,0,0,0.9);display: none;}
.act_part_container{background: #2b2b2b;}
.act_new_bg{height: 100px;width: 100%;background: url(../images/icon/active_bg.png) no-repeat 50% 50%;}
.act_introduce{width: 60.93%;margin: 0 auto;color: #fff;}
.martop{margin-top: -50px;}
.act_introduce h2{padding: 15px 0;font-size: 20px;color:#39d52d;}
.act_introduce h2 img{padding-right: 10px;margin-top: -3px;}
.act_introduce p{padding: 5px;font-size:14px;}
h2.act_news_time{width: 60.93%;padding: 35px 0 15px;font-size: 20px;margin: 0 auto;color: #39d52d;;}
h2.act_news_time img{padding-right: 10px;margin-top: -3px;}
.martop20{padding-top: 20px;}
.act_share{width: 60.93%;padding: 35px 0 35px;font-size: 20px;margin: 0 auto;color: #fff;position: relative;}
.act_share a{color: #fff!important;margin: 0 auto;color: #fff;font-size: 12px;line-height: 16px!important;}
.act_mzsm{width: 150px;height: 30px;border-radius: 5px;background: #fff;position: absolute;top: 30px;left: 150px;text-align: center;}
.act_mzsm a{color: #000!important;text-align: center;line-height: 30px!important;width: 100%;height: 100%}
.act_mzsm_box{width:800px;overflow: hidden;padding:1em 1.5em;border-radius: 0.5em;background: rgba(255,255,255,0.8);margin: 0 auto;display: none;position: fixed;top: 60px;left: 50%;margin-left: -400px;z-index: 99999;overflow: hidden;}
.act_mzsm_box h2{font-size: 18px;color: #646464;}
.act_mzsm_box p.act_mzsm_tiyan{padding: 10px;color: #646464}
.act_mzsm_box p{color: #646464;line-height: 25px;}
.act_mzsm_sj{ text-indent:2em}
.act_mzsm_box p.act_mzsm_bottom{text-align: right;font-size: 18px;font-weight: bold;padding: 15px;color:#000;}
.labels .checkbox{width: 20px;float: right;}
.disnone{display: none;}
.fr{float: right;}
.bdshare-button-style0-16 a,
.bdshare-button-style0-16 .bds_more {
  line-height: 22px!important;
  margin: 0!important;
  margin-right: 10px!important;
  padding-left: 0!important;
  background: none!important;
}
@media screen and (max-width: 600px){
.act_share{width: 95%}
.act_banner{margin-top: 50px;}
}
@media screen and (max-width:800px){
.act_mzsm{display: none;}
}
.bdshare_dialog_box{display: none!important;}

img {
  max-width: 100%;
}

h1, h2 {
  font-family: "Microsoft yahei", sans-serif;
  font-weight: bold;
}

* {
font-family:'Microsoft YaHei',Arial, Helvetica, sans-serif;
}
.main {
margin:20px;
}

.main{width: 500px; margin: 200px auto}
.main select{margin-left: 50px;width: 130px; }
/* Retina-ize icons */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx)  {
    .select2-search input,
    .select2-search-choice-close,
    .select2-container .select2-choice abbr,
    .select2-container .select2-choice .select2-arrow b {
        background-image: url('../images/select2x2.png') !important;
        background-repeat: no-repeat !important;
        background-size: 60px 40px !important;
    }

    .select2-search input {
        background-position: 100% -21px !important;
    }
}

table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-style:normal;font-weight:normal}
q:before,q:after{content:''}
body{font:13px arial,helvetica,clean,sans-serif;font-size:small;}
select,input,textarea{font:99% arial,helvetica,clean,sans-serif}
pre,code{font:115% monospace;font-size:100%}

label {
	float: left;
	width: 12em;
}
.input_width{ width: 15em; }
.tip_yellowsimple {
    position: absolute;
    z-index:1000;
    text-align:left;
    border:1px solid #c7bf93;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    padding:6px 8px;
    min-width:50px;
    max-width:300px;
    color:#000;
    background-color:#fff9c9;
    left: 87%;
    top: 0;
    width: 170px;
    opacity: 0;
    filter:alpha(opacity=0);
    /**
     * - If you set a background-image, border/padding/background-color will be ingnored.
     *   You can set any padding to .tip-inner instead if you need.
     * - If you want a tiled background-image and border/padding for the tip,
     *   set the background-image to .tip-inner instead.
     */
}
.tip_yellowsimple .tip-inner {
    font:12px/16px arial,helvetica,sans-serif;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip_yellowsimple .tip-arrow-top {
    margin-top:-6px;
    margin-left:-5px; /* approx. half the width to center it */
    top:0;
    left:50%;
    width:9px;
    height:6px;
    background:url(../images/tip-yellowsimple_arrows.gif) no-repeat;
}
.tip_yellowsimple .tip-arrow-right {
    margin-top:-4px; /* approx. half the height to center it */
    margin-left:0;
    top:50%;
    left:100%;
    width:6px;
    height:9px;
    background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -9px 0;
}
.tip_yellowsimple .tip-arrow-bottom {
    margin-top:0;
    margin-left:-5px; /* approx. half the width to center it */
    top:100%;
    left:50%;
    width:9px;
    height:6px;
    background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -18px 0;
}
.tip_yellowsimple .tip-arrow-left {
    margin-top:-4px; /* approx. half the height to center it */
    margin-left:-6px;
    top:50%;
    left:0;
    width:6px;
    height:9px;
    background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -27px 0;
}
table tr td textarea{
    width: 15em;
    height: 100px;
}
.vail_box{position: relative;width:75%}
.vail_text{position: absolute;top: 300px;left: 500px;z-index: 6;}
.test_box {
    width: 85%;
    min-height: 120px;
    max-height: 300px;
    _height: 120px;
    padding: 3px;
    outline: 0;
    border: 1px solid #fff;
    font-size: 15px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-user-modify: read-write-plaintext-only;
    color: #fff;
}
.form_submit{padding: 1em;}
#submit{width: 80px;height: 30px;line-height: 30px;background: #47d73c;border-radius: 5px;outline: none;color: #fff;}
td.text_color{color: #fff;}
.varli_code{top: 20px;}
.vail_box #test2 select{height: 25px;line-height: 25px;}
#captcha_code{width: 25%;}
.footer_box{margin-top: 50px;}
@media screen  and (max-height:900px){
    .act_form_register{top:20px;padding:10px;width: 600px;margin-left: -300px;}
    .act_form_register form table tr td{padding:1px;}
    .form_submit{padding: 10px;}
    .form_register_title h2{padding: 0.2em;}
    .act_form_register form table tr .labels{font-size: 1em;}
    .act_form_register form table tr td input[type=text]{font-size: 1em;}
    #captcha_code{width: 16%;}
}
@media screen and (max-width: 1024px){
    .act_form_register{top:20px;padding:10px;width: 600px;margin-left: -300px;}
    .act_form_register form table tr td{padding:1px;}
    .form_submit{padding: 10px;}
    .form_register_title h2{padding: 0.2em;}
    .act_form_register form table tr .labels{font-size: 1em;}
    .act_form_register form table tr td input[type=text]{font-size: 1em;}
    #captcha_code{width: 16%;}
}




