
.struggle_industrial_container{width: 100%;margin:0 auto;overflow: hidden;}
.struggle_industrial_container .struggle_page1{background:url(../images/industrial/xiro_industriail_s1.jpg) no-repeat center center;-webkit-background-size: cover;
background-size: cover;width: 100%;min-height: 1000px;}
.struggle_industrial_container .struggle_page2{background:url(../images/industrial/xiro_industriail_s2.jpg) no-repeat center center;-webkit-background-size: cover;
background-size: cover;width: 100%;min-height: 1226px;}
.struggle_industrial_container .struggle_page3{background:url(../images/industrial/xiro_industriail_s3.jpg) no-repeat center center;-webkit-background-size: cover;
background-size: cover;width: 100%;min-height: 522px;position: relative;z-index: 99;}
.struggle_industrial_container .struggle_page4{background:url(../images/industrial/xiro_industriail_s4.jpg) no-repeat center center;-webkit-background-size: cover;
background-size: cover;width: 100%;min-height: 1145px;position: relative;}

.struggle_page1_text{padding-top: 200px;text-align: center;color: #fff;}
.struggle_page1_text p{font-size: 16px;padding-top: 15px;opacity: 0;}
.struggle_page2_imgbox{width: 100%;}
.struggle_page2{position: relative;text-align: center;color: #fff;}
.struggle_page2 .struggle_page_box{position: absolute;bottom:20%;left: 50%;margin-left: -100px;}
.struggle_page2 .struggle_page_box .padtop15{padding-top: 15px;}
.struggle_page3 .struggle_page_box{position: absolute;left: 50%;bottom: 5%;margin-left: -300px;color: #fff;z-index: 99;}
.struggle_page3 .struggle_page_box .padtop15{padding-top: 15px;}
.struggle_page3 .struggle_page3_imgBox{position: absolute;top: -100px;width: 85.94%;right: -35%;}
.struggle_page4 .struggle_page4_imgBox{position: absolute;top: 0;left:-43%;width: 116.4%;}
.struggle_page4 .struggle_page_box{position: absolute;left: 50%;top: 50%;margin-left: 200px;color: #fff;}
.struggle_page4 .struggle_page_box .padtop15{padding-top: 15px;}
.struggle_page_box h2,.struggle_page_box p{opacity: 0;}
.section .struggle_box{width: 1024px;margin: 0 auto;position: relative;}
.transiiton_way{-moz-transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
-webkit-transition: all .5s ease-in-out;
transition: all .5s ease-in-out}

.active .transition_delay5{-webkit-transition-delay: .1s;
-o-transition-delay: .1s;
transition-delay: .1s;}
.active .transition_delay8{-webkit-transition-delay: .3s;
-o-transition-delay: .3s;
transition-delay: .3s;}

.struggle_page1_text h2,.struggle_page1_text p{-webkit-transform: translate(0,-100px);
-ms-transform: translate(0,-100px);
-o-transform: translate(0,-100px);
transform: translate(0,-100px);}
.struggle_page2 .struggle_page_box h2,.struggle_page2 .struggle_page_box p{-webkit-transform: translate(0,100px);
-ms-transform: translate(0,100px);
-o-transform: translate(0,100px);
transform: translate(0,100px);}
.struggle_page3 .struggle_page_box h2,.struggle_page3 .struggle_page_box p{-webkit-transform: translate(0,-100px);
-ms-transform: translate(0,-100px);
-o-transform: translate(0,-100px);
transform: translate(0,-100px);}
.struggle_page4 .struggle_page_box h2,.struggle_page4 .struggle_page_box p{-webkit-transform: translate(0,-100px);
-ms-transform: translate(0,-100px);
-o-transform: translate(0,-100px);
transform: translate(0,-100px);}
.struggle_page3_imgBox{
-webkit-transform: translate(200px,0);
-ms-transform: translate(200px,0);
-o-transform: translate(200px,0);
transform: translate(200px,0);
opacity: 0;
}
.struggle_page4_imgBox{
-webkit-transform: translate(-200px,0);
-ms-transform: translate(-200px,0);
-o-transform: translate(-200px,0);
transform: translate(-200px,0);
opacity: 0;
}
.active .struggle_page_box h2,.active .struggle_page_box p,.active .struggle_page3_imgBox,.active .struggle_page4_imgBox{
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	-o-transform: translate(0,0);
	transform: translate(0,0);
	opacity: 1;
}
.bottom_log{width: 316px;position: absolute;bottom: 52px;left: 50%;margin-left: -158px;opacity: 0;
	-webkit-transform: translate(0,50px);
-ms-transform: translate(0,50px);
-o-transform: translate(0,50px);
transform: translate(0,50px);}
.active .bottom_log{opacity: 1;
	-webkit-transform: translate(0,0);
-ms-transform: translate(0,0);
-o-transform: translate(0,0);
transform: translate(0,0);}
h2{font-size: 1.8rem;}
.section p{font-size: 1.4rem;}
@media screen and (max-width: 1124px) {
	.section .struggle_box{width: 800px;}
	.struggle_page4 .struggle_page4_imgBox{left: -25%;top:80px;}
	.struggle_page3 .struggle_page3_imgBox{top: -50px;}
	.struggle_page4 .struggle_page_box{left: 20%;top:70%;}
	.struggle_page2_imgbox{width: 200%;margin-left: -50%;}
}
@media screen and (max-width: 800px) {
	.section .struggle_box{width: 600px;}
	.struggle_page4 .struggle_page4_imgBox{left: -25%;top:50px;}
	.struggle_page4 .struggle_page_box{left: 10%;top:70%;margin-left: 100px;}
	.struggle_page2_imgbox{width: 300%;margin-left: -100%;}
	.struggle_industrial_container .struggle_page1{background-size: 1000px;min-height:520px; }
	.struggle_industrial_container .struggle_page2{background-size: 1000px;min-height:620px; }
	.struggle_industrial_container .struggle_page3{background-size: 1000px;min-height:260px; }
	.struggle_industrial_container .struggle_page4{background-size: 1000px;min-height:590px; }
	.struggle_page3 .struggle_page3_imgBox{top: -50px;width:420px; }
	.struggle_page1_text{padding-top: 100px;}

}
@media screen and (max-width: 600px) {
	.struggle_page3 .struggle_page_box{margin-left: 0;left: 10%}
	.section .struggle_box{width: 100%;}
	.struggle_page3 .struggle_page3_imgBox{top: 0px;width:300px; }
	.struggle_page4 .struggle_page_box{left: 0;top:70%;margin-left: 0;width: 100%;text-align: center;}
	.bottom_log{bottom: 100px;}
}
@media screen and (min-width: 1921px) {
	.struggle_page4 .struggle_page4_imgBox{left: -80%}
}
