@charset "utf-8";
/*重置样式*/
.container-fluid{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
/*通用*/
.over-hidden{
	overflow: hidden;
}
.im-bg-ef{
	background-color: #f4f4f4;
}
@font-face {
	font-family: 'iconfont2';
    src: url('../font/iconfont2.eot'); /* IE9*/
    src: url('../font/iconfont2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont2.woff') format('woff'), /* chrome、firefox */
    url('../font/iconfont2.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont2.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont2{
  font-family:"iconfont2" !important;
  font-size:40px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* Banner */
.support-banner{
	background:url(../images/support/download-banner_03.jpg) no-repeat center center;
	background-size: cover;-moz-background-size: cover;-webkit-background-size: cover;
}

/*支持中心框架*/
.content-box{
	/*min-height: 600px;*/
	position: relative;
	z-index: 1;
}
.im-bg{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
.bg-right,.bg-left{
	width: 50%;
	height: 100%;
	float: left;
}
.bg-left{
	background-color: #fff;
}
.bg-right{
	background-color: #F4F4F4;
}
.container2{
	position: relative;
	margin: 0 auto;
}
.left-box{
	padding-top: 20px;
	padding-bottom:100000px;
	margin-bottom: -100000px;
	background-color: #fff;
}
.right-box{
	background-color: #f4f4f4;
}
.right-box ul{
	margin: 0 10px;
}
.right-box ul li{
	border-bottom: solid 1px #e7e7e7;
	text-align: center;
}
.right-box ul a{
	padding: 12px 0;
	display: block;
	text-decoration: none !important;
	text-align: center;
}
.right-box ul a h3{
	color: #6f737a;
}
.right-box ul a:hover h3,.right-box ul a:focus h3,.right-box ul li.active a h3{
	color: #000000;
}
.right-box ul a p{
	color: #8c8d8d;
}

/*下载中心*/
.download>div{
	margin-bottom: 40px;
}
.download>div>h3{
	color: #000;
	font-size: 16px;
	border-left: solid 2px #53db3f;
	padding-left: 20px;
}
.choice-box{
	border-bottom: solid 1px #b5b5b5;
}
.choice-box>div{
	position: relative;
}
.choice-box>div:last-child{
	border: none;
}
.choice-box>div:first-child{
	border: none;
	padding-bottom: 0;
}
.choice-box>div>span{
	display: block;
	position: absolute;
	width: 80px;
	text-align: right;
	color: #818181;
}
.type-box>span{
	line-height: 72px;
}
.choice-box ul{
	overflow: hidden;
	margin-bottom: 0;
}
.choice-box li{
	padding: 10px 0;
	float: left;
}
.type-box li a{
	display: block;
	padding:0 15px;
	height: 52px;
	line-height: 50px;
	border: solid 1px #d8d8d8;
	color: #5e5e5e;
}
.type-box li.active a{
	text-decoration: none;
	border: solid 1px #44d23c;
	background: url(../images/support/type_on_06.png) no-repeat right bottom;
}
.type-box li a:hover,.type-box li a:focus{
	text-decoration: none;
	border: solid 1px #44d23c;
}
.normal-choice ul a{
	display: block;
	color: #0e0e0e;
	line-height: 30px;
	height: 30px;
	padding:0 20px;
}
.normal-choice>span{
	line-height: 52px;
}
.normal-choice ul a:hover,.normal-choice ul a:focus,.normal-choice ul li.active a{
	text-decoration: none;
	background-color: #44d23c;
}
.app-download ul{
	margin-top: 40px;
}
.app-download li{
	padding-bottom: 20px;
}
.Software-infro{
	position: relative;
}
.Software-infro img{
	float: left;
}
.Software-infro>div{
	padding-left: 20px;
	overflow: hidden;
}
.Software-infro>div h3{
	margin: 8px 0 12px;
	font-size: 26px;
}
.Software-infro>div p{
	margin: 5px 0;
	font-size: 14px;
}
.Software-infro a{
	position: absolute;
	right: 0;
	color: #44d23c;
	text-align: center;
	border: solid 2px #44d23c;
}
.Software-infro a:hover,.Software-infro a:focus{
	background-color: #44d23c;
	color: #fff;
	border: none;
	text-decoration: none;
}
.version-infro{
	margin: 5px 0;
}
.Software-detail{
	margin-top: 40px;
}
.Software-detail h3{
	font-size: 16px;
	color: #3c3e53;
}
.Software-detail p{
	margin: 5px;
	line-height: 24px;
	font-size: 14px;
	color: #9a9a9a;
}
/*固件*/
.firmware-download>ul>li{
	padding-bottom:10px ;

}
.firmware-infro{
	padding: 15px 0;
	border-bottom: 1px solid #dbdbdb;
	
}
.firmware-infro div{
	color: #656565;
	line-height: 40px;
}
.firmware-name{
	float: left;
}
.firmware-size{
	width: 45%;
	float: left;
}
.firmware-date{
	float: right;
	width: 40%;
}
.firmware-btn{
	min-width: 40px;
	width: 15%;
	float: right;
}
.firmware-detail{
	border-bottom: 1px solid #dbdbdb;
}
.firmware-detail ol{
	margin: 10px;
}
.firmware-detail li{
	line-height: 30px;
	color: #656565;
}
.download-btn{
	display: block;
	height: 40px;
	width: 40px;
	background: url(../images/support/download_06.png) no-repeat center;
}
.download-pingguo i,.download-anzhuo i{
	color:#44d23c;
	font-family: "iconfont2" !important;
	font-style: normal;
	margin-right:15px;
}
.download-pingguo:hover i,.download-pingguo:focus i,.download-anzhuo:hover i,.download-anzhuo:focus i{
	color: #fff;
}
/*常见问题*/
.support-search{
	padding-bottom: 40px;
	padding-top: 20px;
	
}
.support-search input:focus{
	border:1px solid  #44d23c;
	outline: none;
}
.support-search input{
	padding: 10px 20px;
	height: 52px;
	line-height: 32px;
	color: #000;
}
.support-search form{
	position: relative;
}
.support-search a{
	display: block;
	width: 110px;
	height: 52px;
	color: #44d23c;
	border: 2px solid #44d23c;
	font-size: 18px;
	text-align: center;
	line-height: 48px;
	position: absolute;
	left:638px;
	top: 0;
	z-index: 1;
	background-color: #fff;
}
.nullWainning{
	line-height: 60px;
	font-size: 16px;
	text-align: center;
	display: none;
}
.support-search a:hover,.support-search a:focus{
	opacity: 0.8;
	text-decoration: none;
}
.question-box{
	padding-bottom: 40px;
}
.question-list>ul{
	display: none;
	padding-bottom: 40px
}
.question-box>div>h3{
	color: #000;
	font-size: 16px;
	padding:10px 0 10px 20px;
	position: relative;
	cursor: pointer;
	margin-top: 0;
	margin-bottom: 0
}

.question-box>div>h3:before{
	position: absolute;
	left: 0;
	top: 10px;
	content: "";
	display: block;
	height: 17px;
	width:2px;
	background-color: #53db3f;
}
.question-list ul{
	padding-top: 10px;
	margin-left: 20px;
}
.question-list ul .question-item{
	border-bottom:1px solid #dbdbdb ;
}
.question-list ul .question-title{
	color: #000;
	padding: 10px 0;
	cursor: pointer;
}
.question-list ul .question-answer{
	color: #656565;
	margin-bottom: 10px;
}
.question-answer img{
	max-width:100%  !important;
	height: auto !important;
}
.question-list tr,.question-list td{
  padding: 10px;
  border: 1px solid #ccc;
  line-height: 30px;
  text-align: left;
  min-width:80px;
}

/*线下服务*/
.map-box{
	height:420px;
	padding-bottom: 40px;
}
.service-point{
	padding-bottom: 40px;
}
.service-point h3{
	color: #000;
	font-size: 16px;
	border-left: solid 2px #53db3f;
	padding-left: 20px;
	margin: 10px 0;
}
.service-point ul{
}
.service-point li{
	margin-top: 14px;
	padding: 10px;
	border-bottom: 1px solid #dbdbdb;
	cursor: pointer;
}
.point-box>div{
	color: #656565;
}
.point-box>div:first-child{
	color: #000;
}
/*线上服务*/
.services-type{
	padding-bottom: 20px;
	border-bottom: 1px solid #dbdbdb;
}
.services-type>div:last-child{
	border: none;
}
.services{
	padding-left: 90px;
	background-image: url(../images/support/kefu.png);
	background-repeat: no-repeat;
	height: 76px;
	padding-top: 12px;
	margin-bottom: 30px;
}
.services a,.services span{
	display: block;
	height: 52px;
	width: 132px;
	border: 1px solid #44d23c;
	color: #44d23c;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
}
.services-qq .services a{
	width: 160px;
}
.services .hk-email{
	width: 250px;
	height: 60px;
	border: none;
}
.services .hk-email p{
	line-height:24px;
	text-align: left;
}
.services .usa-email{
	width: 210px;
}
.services-qq .services{
	background-position: -12px -12px;
}
.services-tell .services{
	background-position: -12px -112px;
}
.services-facebook .services{
	background-position: -12px -212px;
}
.services-email .services{
	background-position: -12px -313px;
}
.services-worktime h4{
	color: #000;
	margin-bottom:20px;
	line-height: 24px;
}
.services-worktime p{
	color: #656565;
	margin-bottom: 8px;
}
.services-form h3{
	color: #000;
	font-size: 16px;
	border-left: solid 2px #53db3f;
	padding-left: 20px;
	margin: 10px 0;
}
.services-form label{
	width: 100%;
	padding-left: 90px;
	position: relative;
	padding-top: 20px;
}
.services-form p{
	padding-top: 20px;
}
.services-form label span{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	font-weight: normal !important;
	color: #656565;
}
.services-form label input{
	width: 100%;
	border-width:0 0 1px 0 ;
	border-color: #dbdbdb;
}
.services-form label input:focus,.services-form label input:hover{
	border-color: #70e772;
	outline: none;
}
.form-sumbit{
	display: block;
	height: 52px;
	width: 132px;
	color: #fff;
	background-color: #0cd710;
	line-height: 52px;
	text-align: center;
	font-size: 24px;
	font-weight: normal;
}
.services-policy h2,.services-policy h3,.services-policy h4,.services-policy strong{
	color: #3cd52e;
}
.services-policy h2,.services-policy h3.services-policy h4{
	text-align: center;
}
.services-policy{
	color: #323232;
	font-size: 16px;
	line-height: 1.8;
}
.services-policy p{
	text-indent: 2em;
}
.services-policy img{
	width: 100%;
}
.policy-title{
	background: url(../images/support/serves_03.png) no-repeat center;
	background-size: 100% auto;
	text-align: center;
	margin: 10px 0;
}
.services-policy li{
	text-indent: 2em;
	margin-bottom: 5px;
}
.policy-title h3:before{
	content:"";
	position: absolute;
	right: 100%;
	top: 0;
	height: 33px;
	width: 114px;
	display: block;
	background:#fff url(../images/support/servises_10.png) no-repeat center;
	padding: 0 10px;
}
.policy-title h3:after{
	position: absolute;
	left: 100%;
	top: 0;
	height: 33px;
	width: 104px;
	content:"";
	height: 33px;
	width: 114px;
	display: block;
	background:#fff url(../images/support/servises_12.png) no-repeat center;
}
.warranty>div{
	padding:0 10px;
}
.warranty table{
	width: 100%;
	margin: 20px 0;
}
.warranty table,.warranty tr,.warranty td{
	border: 1px solid #626262 !important;
	text-align: center;
	height: 30px;
}
.services-package{
	overflow-x: auto;
}
.services-package table{
	min-width: 100%;
}
.services-package tr,.services-package td{
	border: 1px solid #4d4d4d;
	border-collapse: collapse;
}
.services-package td{
	padding: 10px;
	text-align: center;
}
.services-package ol{
}
.services-package ol li{
	float: left;
	width: 50%;
	text-align: left;
	text-indent: 0;
	padding-left: 20px;
}
.services-article ol{
	padding-left: 30px;
}
.services-article li{
	list-style-type: decimal;
	text-indent: 0 !important;
}
.policy-minimgP{
	display: none;
}
.qq-icon{
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	background: url(../images/support/qq_icon_03.jpg) no-repeat center;
	margin-top: 5px;
	margin-left: 5px;
}
/*地图*/
#mapContainer{
    height:100%;
    width:100%;
}
.amap-copyright{
	display: none;
}
.amap-logo{display: none;}
#r-result{width:100%;}
#r-result>div{
	border: none !important;
}
/*#r-result li>div>div:first-child{
	display: none;
}*/
#r-result li>div>div:nth-of-type(2) b{
	display: none;
}
#r-result li>div>div:nth-of-type(3) b{
	line-height: 1.6em !important;
	font-weight: normal !important;
}
#r-result li>div{
	overflow: hidden;
}
#r-result li{
	padding: 10px !important;
}
#r-result li>div>div{
	/*width:50%;
	float: left;*/
	font: 16px/1.8 "Microsoft YaHei",Helvetica,STHeiti STXihei,Microsoft JhengHei,Arial;
}
#r-result li>div>div span{
	line-height: 1.6em !important;
}
#r-result li>div>div:nth-of-type(2) span{
	color: #000 !important;
}
/*底部位置处理*/
.im-fix-footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}
.servicer-name{
	width: 100% !important;
}
.ser-address{
	width: 100% !important;
}
.ser-tel,.ser-time{
	font-size: 14px;
}

/********** 公司简介 **********/
.aboutus-banner{
    background: url(../images/aboutus/about_bg_02.jpg) no-repeat center center;
	background-size: cover;-moz-background-size: cover;-webkit-background-size: cover;
}
.aboutus-banner h4{
	letter-spacing: 3px;
}
.aboutus-banner h4, .aboutus-banner p {
  color:rgba(255,255,255,.3);
}
.about-box{
	padding-bottom: 40px;
	padding-top: 80px;
}
.about-box img{
	width: 100%;
	margin-bottom: 40px;
}
.about-detail span{
	float: left;
	font-size: 48px;
	line-height: 52px;
	margin-top: -26px;
	color: #616466;
}
.about-detail p{
	font-size: 14px;
	line-height: 36px;
	color: #616466;
}
.about-right{
	padding-bottom: 99999px;
	margin-bottom: -99999px;
	background-color: #f4f4f4;
}
.about-right img{
	width: 100%;
	margin-top:300px;
}
/*响应*/
@media only screen  and (max-width: 767px) {
	.container2{
		width: 100%;
	}
	.choice-box{
		padding: 10px 0px 0 0;
	}
	.choice-box>div>span{
		text-align: left;
		width: 60px;
	}
	.choice-box ul{
		padding-left: 60px;
		font-size: 14px;
	}
	.choice-box li{
		margin: 0 5px;
	}
	.Software-infro a{
		top: 20px;
		height: 44px;
		line-height:40px ;
		font-size: 16px;
		width:100px;
	}
	.Software-infro a:hover,.Software-infro a:focus{
		line-height: 48px;
	}
	.download-pingguo i,.download-anzhuo i{
		line-height: 38px;
		font-size: 24px;
		margin-right:5px ;
	}
	.Software-infro img{
		height: 80px;
		width: 80px;
	}
	.Software-infro>div{
		padding-left: 10px;
		padding-right:110px;
	}
	.app-download ul{
		margin-left: 0px;
	}
	.version-infro span{
		font-size: 12px;
	}
	.version-infro span:nth-of-type(2){
		margin-right: 10px;
		
	}
	.firmware-download>ul{
		font-size: 14px;
	}
	.document-download>ul{
		font-size: 14px;
	}
	.firmware-name{
		width:180px;
		overflow: hidden;
	}
	.support-search input{
		width: 100%;
		padding-right:110px; 
	}
	.support-search a{
		left: 100%;
		margin-left: -108px;
	}
	.services-type>div{
		width:100%;
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 20px;
	}
	.services-type>div:first-child{
		padding-bottom: 20px;
		/*border-bottom: 1px solid #dbdbdb;*/
	}
	.services-type{
		border-bottom: none;
	}
	.services-type2{
		border-bottom: 1px solid #dbdbdb;
	}
	.online-services>div{
		padding-top:20px;
	}
	.services-policy h2{
		font-size: 22px;
	}
	.services-policy h2{
		margin: 20px 0;
	}
	.services-policy{
		font-size: 14px;
	}
	.policy-title h3{
		display: inline-block;
		font-size: 18px;
		position: relative;
		line-height: 33px;
		margin:10px 0;
		background-color: #fff;
		padding: 0 10px;
	}
	.warranty>div{
		width:100%;
	}
	.point-box>div{
		width: 100%;
	}
	.choice-box ul a{
		padding:0 10px;
	}
	.left-box>div{
		margin-left:10px;
		margin-right:10px;
	}
	.right-box{
		width: 100%;
	}
	.left-box{
	}
	.right-box ul{
		width: 100%;
		margin: 0 !important;
		overflow: hidden;
	}
	.right-box ul li{
		float: left;
		width: 25%;
	}
	.right-box ul li.active{
		background-color: #fff;
	}
	.right-box i{
		display: inline-block;
		/*height: 38px;
		width: 38px;*/
		height: 26px;
		width: 26px;
		margin-top: 5px;
		background-image: url(../images/support/rightIcon_02.png);
		background-repeat: no-repeat;
		background-size: 426px 40px;
	}
	.right-box h3{
		font-size: 14px;
		margin-top: 5px;
		margin-bottom: 0;
	}
	.download-icon{
		background-position: -30px -7px;
	}
	.question-icon{
		background-position: -141px -7px;
	}
	.underline-icon{
		background-position: -255px -8px;
	}
	.online-icon{
		background-position: -368px -8px;
	}
}
@media only screen and (min-width:1024px) and (max-width: 1199px) {
	.container2{
		width: 970px;
	}
	.right-box{
		width: 200px;
	}
	.left-box{
		margin-left: 200px;
	}
	.right-box ul{
		width: 200px;
		margin: 0 !important;
	}
	.left-box>div{
		margin-left:20px;
	}
	.Software-infro a{
		width:190px;
	}
	/*******************/
	.about-left{
		width: 560px;
	}
	.about-right{
		width: 410px;
	}
}
@media only screen and (min-width:1200px){
	.container2{
		width: 1170px;
	}
	.right-box{
		width: 280px;
	}
	.left-box{
		margin-left: 280px;
	}
	.right-box ul{
		width: 260px; 
	}
	.left-box>div{
		margin-left:40px;
	}
}

@media only screen and (min-width: 1200px) {
	.Software-infro a{
		width:238px;
	}
	/*******************/
	.about-left{
		width: 660px;
	}
	.about-right{
		width: 510px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
	.right-box{
		width: 100%;
	}
	.left-box{
		padding-left: 20px;
		padding-right: 20px;
	}
	.right-box ul{
		width: 100%;
		margin: 0 !important;
		overflow: hidden;
	}
	.right-box ul li{
		float: left;
		width: 25%;
	}
	.right-box ul li.active{
		background-color: #fff;
	}
	.right-box i{
		display:inline-block;
		/*height: 38px;
		width: 38px;*/
		height: 26px;
		width: 26px;
		margin-top: 5px;
		background-image: url(../images/support/rightIcon_02.png);
		background-repeat: no-repeat;
		background-size: 426px 40px;
	}
	.right-box h3{
		font-size: 18px;
		margin-top: 5px;
		margin-bottom: 0;
	}
	.right-box p{
		display: none;
	}
	.download-icon{
		background-position: -30px -7px;
	}
	.question-icon{
		background-position: -141px -7px;
	}
	.underline-icon{
		background-position: -255px -8px;
	}
	.online-icon{
		background-position: -368px -8px;
	}
	.download-banner{
		height:320px;
	}
	.download-banner>div{
		margin-top:60px;
	}
	.download-banner h4{
		font-size: 42px;
	}
	.download-banner p{
		font-size: 30px;
	}
	.choice-box ul{
		padding-left: 90px;
	}
	.choice-box li{
		margin: 0 10px;
	}
	.choice-box{
		padding: 10px 0px 0 20px;
	}
	.choice-box>div{
		border-bottom: solid 1px #eeeeee;
	}
	.Software-infro a{
		top: 30px;
		height: 70px;
		line-height:66px ;
		font-size: 30px;
	}
	.Software-infro a:hover,.Software-infro a:focus{
		line-height: 70px;
	}
	.download-pingguo i,.download-anzhuo i{
		line-height: 62px;
	}
	.Software-infro img{
		height: 108px;
		width: 108px;
	}
	.Software-infro>div{
		padding-right:240px;
	}
	.app-download ul{
		margin-left: 20px;
	}
	.version-infro span{
		display: inline-block;
		width: 25%;
		font-size: 14px;
	}
	.firmware-download>ul{
		margin-left: 20px;
	}
	.document-download>ul{
		margin-left: 20px;
	}
	.firmware-name{
		width: 340px;
	}
	.firmware-detail li{
		margin-left: 40px;
	}
	.support-search input{
		width: 640px;
	}
	.services-type>div{
		width: 33%;
		/*border-right: 1px solid #dbdbdb;*/
		float: left;
		min-height: 280px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top:40px ;
	}
	.services-type2>div{
		padding-top:10px;
	}
	.online-services>div{
		padding-top: 40px;
	}
	.services-policy h2{
		font-size: 42px;
	}
	.services-policy h2{
		margin: 40px 0;
	}
	.policy-title h3{
		display: inline-block;
		font-size: 30px;
		position: relative;
		line-height: 33px;
		margin: 20px 0;
		background-color: #fff;
		padding: 0 10px;
	}
	.warranty>div{
		width: 50%;
	}
	.services-package{
		padding:0 30px;
	}
	.point-box>div{
		width: 50%;
	}
}
@media only screen and (min-width: 1024px){
	.right-box{
		position: absolute;
		left: 0;
		top: 0;
		padding-bottom:100000px;
		margin-bottom: -100000px;
	}
	.choice-box ul{
		padding-left: 90px;
	}
	.choice-box li{
		margin: 0 10px;
	}
	.choice-box{
		padding: 10px 0px 0 20px;
	}
	.choice-box>div{
		border-bottom: solid 1px #eeeeee;
	}
	.Software-infro a{
		top: 30px;
		height: 70px;
		line-height:66px ;
		font-size: 30px;
	}
	.Software-infro a:hover,.Software-infro a:focus{
		line-height: 70px;
	}
	.download-pingguo i,.download-anzhuo i{
		line-height: 62px;
	}
	.Software-infro img{
		height: 108px;
		width: 108px;
	}
	.Software-infro>div{
		padding-right:240px;
	}
	.app-download ul{
		margin-left: 20px;
	}
	.version-infro span{
		display: inline-block;
		width: 25%;
		font-size: 14px;
	}
	.firmware-download>ul{
		margin-left: 20px;
	}
	.document-download>ul{
		margin-left: 20px;
	}
	.firmware-name{
		width: 340px;
	}
	.firmware-detail li{
		margin-left: 40px;
	}
	.support-search input{
		width: 640px;
	}
	.services-type>div{
		width: 33%;
		/*border-right: 1px solid #dbdbdb;*/
		float: left;
		min-height: 280px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top:40px ;
	}
	.services-type2>div{
		padding-top:10px;
	}
	.online-services>div{
		padding-top: 40px;
	}
	.services-policy h2{
		font-size: 42px;
	}
	.services-policy h2{
		margin: 40px 0;
	}
	.policy-title h3{
		display: inline-block;
		font-size: 30px;
		position: relative;
		line-height: 33px;
		margin: 20px 0;
		background-color: #fff;
		padding: 0 10px;
	}
	.warranty>div{
		width: 50%;
	}
	.services-package{
		padding:0 30px;
	}
	.point-box>div{
		width: 50%;
	}
	/*******************/
	.about-box{
		padding-right: 86px;
	}
	.about-content{
		margin-left: -15px;
		margin-right: -15px;
	}
}
